<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>VCR_OSD_MONO.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>WKBackgroundModes</key>
	<array/>
	<key>NSHealthShareUsageDescription</key>
	<string>Pet-Jam uses your active calories burned to feed and grow your virtual pet. The more you exercise, the more your pet thrives!</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Pet-Jam tracks your workout progress to keep your virtual pet healthy and happy.</string>
</dict>
</plist>
